body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Navbar section START */
.navbar {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #D9D9D9;
}

.app--name{
  color: #2B355A;
  padding-left: 50px;
  font-size: 40px;
  margin-right: auto;
}

.searching--bar{
  margin-right: auto;
  text-align: center;
}

.login, .register {
  float: right;
  color: #2B355A;
  padding-right: 40px;
  font-size: 175%;
}

.button--where,
.button--when,
.loop {
  font-size: 25px;
}
/* Navbar section END */


/* Searching bar for events START */
.searchbar {
  display: flex;
  align-items: center;
  height: 100px;
}

.left--arrow, .right--arrow {
  height: 50px;
  width: 60px;
  background-color: white;
  border-style: none;
}

.searchingCard {
  width: 95%;
  text-align: center;
}

.card--image{
  margin-top: 35px;
  width: 50%;
}

.left--arrow--img {
  width: 100%;
}

.right--arrow--img {
  width: 100%;
}

.card--container{
  text-align: center;
  width: 6%;
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
} 
/* Searching bar for events END */


/*Footer START*/ 
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #D9D9D9;
}

.footer--button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}
/*Footer END*/


/*Registration START*/
.registrationPage {
  background-color: #f3eded;
}

.registration--image {
  margin-top: -25%;
  margin-left: -38%;
  zoom: 1.3;
}

.registration--data {
  position: absolute;
  margin-left: 1150px;
  margin-top: -1250px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.input {
  line-height: 2;
  width: 400px;
}

.registration--button {
  display: inline-block;
  width: 300px;
  height: 40px;
  border: 1px solid #8F8F8F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #2B355A;
  color: white;
  font-size: 20px;
}
/*Registration END*/


/* EventsViewWithFilter START */
.big--container {
  margin-top: 30px;
  display: flex;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.filter--div {
  box-sizing: border-box;
  width: 15%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.filter--header, .filter--gameLvl,
.filter--surface, .filter--numberOfPlayers,
.filter--price, .filter--location {
  margin: 10px;
  border-bottom: 1px solid grey;
}

.form--location {
  width: 80%;
}

.events--div {
  width: 80%;
  margin-left: 50px;
}

.box {
  border: 1px solid black;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  max-width: 350px;
}

.box--imgDiv {
  float: left;
  width: 40%;
  margin-bottom: -4px;
}

.box--data {
  float: left;
  margin-left: 10px;
  width: 55%;
}

.box--img {
  width: 100%;
}

.event--notFoundAnnouncement {
  color: lightgray;
  text-align: center;
}

/* EventsViewWithFilter END */

/* EventForm START + 1 from EventPage */
.form-container, .eventPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventForm {
  background-color: #2B355A;
  width: 60%;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
  width: 30%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

/* EventForm END */

/* EventPage Start (1 class are in EventForm) */
.eventPage--div {
  background-color: #2B355A;
  width: 60%;
  padding: 50px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.event--header {
  text-align: center;
}

.event--info {
  float: left;
  width: 60%;
}

.event--mapInfo {
  float: left;
}
/* EventPage END */