body {
  font-family: "Inter";
  letter-spacing: 5%;
  font-style: normal;
}

nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #EBEBEB;
  border-radius: 5px; 
}

.app--name {
  position: absolute;
  left: 3.4%;
  right: 69.79%;
  text-align: left;
  vertical-align: top;
  font-weight: 900;
  font-size: 30px;
  color: #2B355A;
}

.login {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 85%;
  top: 12%;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  font-weight: bold;
}

.register{
  position: absolute;
  width: 10%;
  height: 100%;
  left: 78%;
  top: 12%;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  font-weight: bold;
}

.searching--bar {
  box-sizing: border-box;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 20%;
  bottom: 20%;
  background: #FFFFFF;
  border: 1px solid #8F8F8F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 15px;
  text-align: left;
} 

.button--where, .button--when {
  background-color: white;
  border-radius: 25%;
  border-color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10%;
}

.loop {
  position:absolute;
  left: 57%;
  right: 41%;
  top: 30%;
  bottom: 30%;
  border-radius: 50%;
  background: #2B355A;
}

.circle-loop {
  box-sizing: border-box;
  position: absolute;
  left: 20%;
  right: 45%;
  top: 20%;
  bottom: 45%;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transform: rotate(3.07deg);
}

.circle-line {
  position: absolute;
  left: 45.5%;
  right: 20.25%;
  top: 58.34%;
  bottom: 60.66%;
  border: 0.5px solid #FFFFFF;
  transform: rotate(37.87deg);
}

.searchbar {
  display: flex;
  align-items: center;
  height: 100px;
}

.left--arrow, .right--arrow {
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 50%;
  height: 50px;
  width: 60px;
  background-color: white;
}

.searchingCard {
  width: 95%;
}

.card--image{
  margin-top: 35px;
  width: 4%;
}

.left--arrow--img{
  width: 100%;
  background-color: white;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  display: block;
  border-radius: 40%;
}